*{
    padding: 0%;
    margin: 0%;
}

main{
    padding: 1%;
    margin-top: 2%;
    margin-left: 15%;
}

main h2{
    margin-left: 38%;
}

.cadastro{
    margin-top: 2%;
    margin-left: 23%;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 3%;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.808);
}

.botoes{
    
    margin-top: 1%;
    margin-left: 23%;
   
}

.btt1, .btt2{
    padding: 1%;
    font-size: 17px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.808);
}

.btt2{
    margin-left: 1%;
}

footer{
    
    bottom: 1%;
    padding: 1%;
    
}

