* {
    padding: 0;
    margin: 0;


}

body {
    background-color: beige;
}

header {
    background-color: rgb(163, 130, 130);
}

h2, h3 {

    padding: 1%;
    display: flex;
    justify-content: center;

}

h3{
    margin-top: 1%;
}

.cadastro {

    margin-top: 1%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 3%;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.808);



}

.cadastro #img,
#nome,
#cor,
#tamanho,
#quantidade,
#valor_uni,
#descricao {
    padding: 1%;
  
}

.cadastro #img{
    padding: 2%;
}

label[for="img"]{
    padding: 1%;
}

.cadastro #img:hover,
#nome:hover,
#cor:hover,
#tamanho:hover,
#quantidade:hover,
#valor_uni:hover,
#descricao:hover {
    border-color: red;

}

.cadastro .imgg {
    border: solid 1px;
    border-radius: 7px;
}

.cadastro .nome {
    margin-top: 2%;
}

.botoes {

    margin-top: 1%;
    margin-left: 30%;

}

.btt1,
.btt2 {
    padding: 1%;
    font-size: 17px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(7, 7, 7, 0.808);
}

.btt1:hover,
.btt2:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}



.btt2 {
    margin-left: 1%;
}

footer {
    margin-top: 3%;
    
    background-color: rgb(163, 130, 130);

}

footer p{
    color: white;
    padding: 10px;
}