header{
    display: flex;
	align-items: left;
	justify-content: left;
	margin-left: 20px;
	margin-top: 14px;
}

header a{
    font-size: 18px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0,0.87);
    cursor: pointer;
    padding: 5px 6.7px;

}

.slideshow {
    margin-top: 3%;
    margin-left: 35%;
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  
  .slideshow img {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }